html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-content: center;
  }

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
    align-items: center;
      overflow: scroll;
}

header {
    width: 100vw;
    font-size: 33px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;  
}

input {
    background-color: black;
    border-radius: 1%;
    border: 1.8px solid white;
    text-align: center;
    color: white;
    outline: none;
    height: 33px;
    width: 288px;
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

 button {
    background: inherit;
    color: inherit;
    border: none;
}

.oracle {
  border: 1px solid white;
  padding: 12px;
  text-align: center;
}

table, tr, td, th  {
  border: 1px solid white;
  text-align: center;
  padding: 3px;
}

.nav {
  color: white;
  position: fixed;
  bottom: 12px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
   background-color: white;
   color: black;
  }
}


