body {
    margin: 0;
    font-family: monospace;
    font-size: 15px;
    color: white;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    ::-webkit-scrollbar {
      display: none;
  }
  }
  
  code {
    font-family: monospace;
  }
  
